* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family:'Open Sans', sans-serif;
    background: black;
}

.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
}

.homedetail {
    width: 100%;
    margin: auto;
    position: relative;
    background: #2C3333;
}

.spekminimal {
    width: 100%;
    background: #ff99a4;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Arial;
    color: #ff99a4;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: black;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.deskripsi_arivena {
    float: left;
    color: white;
    font-weight: bold;
    font-family:'Open Sans', sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.paragraf1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.paragraf1 .deskripsi_paragraf1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #ff99a4;
}

.kolomspekmin {
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #ff99a4;
    width: 100%;
    line-height: 50px;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 50px;
    color: white;
    width: 100%;
    line-height: 50px;
}

a.OnClickAboutArivena {
    background: #ff99a4;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a.OnClickAboutArivena:hover {
    background: black;
    color: white;
    text-decoration: none;
}

p {
    margin: 5px 0px 10px 0px;
    padding: 5px 0px 10px 0px;
    color: white;
}

table {
    border-collapse: collapse;
    float:center;
    margin-bottom: 70px;
    color: white;
    text-align: center;
}

table th
table td, {
    border: 1px solid white;
    padding: 7px 17px;
}

table thead th {
    background-color: black;
    color: white;
    border-color: bisque;
    text-transform: uppercase;
}

table tbody td {
    color: white;   
}

table tbody tr:nth-child(odd) td {
    background-color: #3F4E4F;
}

table tbody tr:nth-child(even) td {
    background-color: #2C3639;
}

<!>--border="1" style="color:white;float:left;margin-right: 50px;" bgcolor="2C3639"
border="1" style="color: white;" bgcolor="2C3639">